<!DOCTYPE html>
  <head>
    <title>Front-End Dev Conference</title>
    {{> head-scripts }}
  </head>
  <body>
    {{> header}}
    <main class="main">
      <div class="container">
        <div class="row">
          <div class="col-xs-24">
            <h1>Carrosséis</h1>
            <hr>
            <h2>Fullbanner</h2>
          </div>
        </div>
      </div>

      <!-- Caraousel Fullbanner -->
      <div class="carousel-multiple-items owl-theme" data-nav-text="Eu, Você" data-nav="false" data-dots="false" data-margin="0">
        <div class="item"><img src="https://dummyimage.com/1200x400/696969/fff.png&text=Banner+(1200+x+400)" alt=""></div>
        <div class="item"><img src="https://dummyimage.com/1200x400/696969/fff.png&text=Banner+(1200+x+400)" alt=""></div>
        <div class="item"><img src="https://dummyimage.com/1200x400/696969/fff.png&text=Banner+(1200+x+400)" alt=""></div>
        <div class="item"><img src="https://dummyimage.com/1200x400/696969/fff.png&text=Banner+(1200+x+400)" alt=""></div>
        <div class="item"><img src="https://dummyimage.com/1200x400/696969/fff.png&text=Banner+(1200+x+400)" alt=""></div>
        <div class="item"><img src="https://dummyimage.com/1200x400/696969/fff.png&text=Banner+(1200+x+400)" alt=""></div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <!-- Set up your HTML -->
            <div class="carousel-multiple-items owl-theme" data-loop="true">
              <div class="item"><img src="https://dummyimage.com/600x400/696969/fff.png&text=Banner+(600+x+400)" alt=""></div>
              <div class="item"><img src="https://dummyimage.com/600x400/696969/fff.png&text=Banner+(600+x+400)" alt=""></div>
              <div class="item"><img src="https://dummyimage.com/600x400/696969/fff.png&text=Banner+(600+x+400)" alt=""></div>
              <div class="item"><img src="https://dummyimage.com/600x400/696969/fff.png&text=Banner+(600+x+400)" alt=""></div>
              <div class="item"><img src="https://dummyimage.com/600x400/696969/fff.png&text=Banner+(600+x+400)" alt=""></div>
              <div class="item"><img src="https://dummyimage.com/600x400/696969/fff.png&text=Banner+(600+x+400)" alt=""></div>
            </div>
          </div>
          <div class="col-xs-12">
            <!-- Set up your HTML -->
            <h3>Margin 20</h3>
            <div class="carousel-multiple-items owl-theme" data-items="3">
              <div class="item"><img src="https://dummyimage.com/200x400/696969/fff.png&text=Banner items3+(200+x+400)" alt=""></div>
              <div class="item"><img src="https://dummyimage.com/200x400/696969/fff.png&text=Banner+(200+x+400)" alt=""></div>
              <div class="item"><img src="https://dummyimage.com/200x400/696969/fff.png&text=Banner+(200+x+400)" alt=""></div>
              <div class="item"><img src="https://dummyimage.com/200x400/696969/fff.png&text=Banner+(200+x+400)" alt=""></div>
              <div class="item"><img src="https://dummyimage.com/200x400/696969/fff.png&text=Banner+(200+x+400)" alt=""></div>
              <div class="item"><img src="https://dummyimage.com/200x400/696969/fff.png&text=Banner+(200+x+400)" alt=""></div>
            </div>
          </div>
          <div class="col-xs-12">
            <!-- Set up your HTML -->
            <h3>Não carrega por não ter o tamanho minimo</h3>
            <div class="carousel-multiple-items owl-theme" data-items="2">
              <div class="item"><img src="https://dummyimage.com/200x400/696969/fff.png&text=Banner+(200+x+400)" alt=""></div>
              <div class="item"><img src="https://dummyimage.com/200x400/696969/fff.png&text=Banner+(200+x+400)" alt=""></div>
              <div class="item"><img src="https://dummyimage.com/200x400/696969/fff.png&text=Banner+(200+x+400)" alt=""></div>
            </div>
          </div>
          <div class="col-xs-12">
            <!-- Set up your HTML -->
            <h3>Responsive</h3>
            <div class="carousel-multiple-items owl-theme" data-responsive="0:1, 600:2, 1000:4">
              <div class="item"><img src="https://dummyimage.com/200x400/696969/fff.png&text=Banner+(200+x+400)" alt=""></div>
              <div class="item"><img src="https://dummyimage.com/200x400/696969/fff.png&text=Banner+(200+x+400)" alt=""></div>
              <div class="item"><img src="https://dummyimage.com/200x400/696969/fff.png&text=Banner+(200+x+400)" alt=""></div>
              <div class="item"><img src="https://dummyimage.com/200x400/696969/fff.png&text=Banner+(200+x+400)" alt=""></div>
              <div class="item"><img src="https://dummyimage.com/200x400/696969/fff.png&text=Banner+(200+x+400)" alt=""></div>
              <div class="item"><img src="https://dummyimage.com/200x400/696969/fff.png&text=Banner+(200+x+400)" alt=""></div>
            </div>
          </div>
          <div class="col-xs-12">
            <!-- Set up your HTML -->
            <div class="carousel-multiple-items owl-theme" data-items="4" data-width="true">
              <div class="item"><img src="https://dummyimage.com/200x200/696969/fff.png&text=Banner+(200+x+200)" alt=""></div>
              <div class="item"><img src="https://dummyimage.com/200x200/696969/fff.png&text=Banner+(200+x+200)" alt=""></div>
              <div class="item"><img src="https://dummyimage.com/300x200/696969/fff.png&text=Banner+(300+x+200)" alt=""></div>
              <div class="item"><img src="https://dummyimage.com/150x200/696969/fff.png&text=Banner+(150+x+200)" alt=""></div>
              <div class="item"><img src="https://dummyimage.com/200x200/696969/fff.png&text=Banner+(200+x+200)" alt=""></div>
              <div class="item"><img src="https://dummyimage.com/200x200/696969/fff.png&text=Banner+(200+x+200)" alt=""></div>
            </div>
          </div>
        </div>
      </div>
    </main>
    {{> footer}}
    {{> footer-scripts }}
    <!--build:js js/carousels.js -->
    <script src='js/plugins/owl.carousel.js'></script>
    <script src='js/carousels.js'></script>
    <script src='js/main.js'></script>
    <!-- endbuild -->
  </body>
</html>
