<!DOCTYPE html>
  <head>
    {{> head-metatags }}
    <title>Front-End Dev Conference</title>
    {{> head-scripts }}
  </head>
  <body>
    <main class="main">
      <div class="container">
        <div class="row">
          <div class="col-xs-24">
            <h1>Carrosséis</h1>
            <hr>
            <h2>Fullbanner</h2>
          </div>
          <div class="col-xs-24 col-sm-12">
            {{> org-gallery thumbs="true"}}
          </div>
          <div class="col-xs-24 col-sm-12">
            {{> org-gallery nav="true" thumbs="true"}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-24 col-sm-12">
            {{> org-gallery nav="true" thumbs="true" zoom="true"}}
          </div>
          <div class="col-xs-24 col-sm-12">
            {{> org-gallery }}
          </div>
        </div>
      </div>
    </main>
    {{> footer-scripts }}
    <!--build:js js/carousels.js -->
    <script src='js/plugins/owl.carousel.js'></script>
    <script src='js/plugins/jquery.elevatezoom.js'></script>
    <script src='js/zoom.js'></script>
    <script src='js/carousels.js'></script>
    <script src='js/gallery.js'></script>
    <script src='js/main.js'></script>
    <!-- endbuild -->
  </body>
</html>
