<!DOCTYPE html>
  <head>
    <title>Front-End Dev Conference</title>
    {{> head-scripts }}
  </head>
  <body>
    {{> header}}
    <main class="main">
      <div class="container">
        <div class="row">
          <div class="col-xs-24">
            <h1>Carrosséis</h1>
            <hr>
            <h2>Fullbanner</h2>
          </div>
          <div class="col-xs-12">
            <div class="gallery">
              <!-- Gallery -->
              {{>mol-carousel
                custom-css="owl-arrows"
                loop="false"
                dots="false"
                margin="0"
                nav-text='<i class="fa fa-chevron-left" aria-hidden="true"></i>, <i class="fa fa-chevron-right" aria-hidden="true"></i>'
                content='<div class="item"><img src="https://dummyimage.com/800x500/696969/fff.png&text=Image+A+(800+x+500)" alt=""></div>
                <div class="item"><img src="https://dummyimage.com/800x500/696969/fff.png&text=Image+B+(800+x+500)" alt=""></div>
                <div class="item"><img src="https://dummyimage.com/800x500/696969/fff.png&text=Image+C+(800+x+500)" alt=""></div>
                <div class="item"><img src="https://dummyimage.com/800x500/696969/fff.png&text=Image+D+(800+x+500)" alt=""></div>'
              }}
              <div class="gallery--controls">
                <!-- Gallery -->
                {{>mol-carousel
                  loop="false"
                  nav="false"
                  dots="false"
                  responsive="767:2, 800:3, 1000:5"
                  content='<div class="item"><img src="https://dummyimage.com/80x80/696969/fff.png&text=Thumb+A+(80+x+80)" alt=""></div>
                  <div class="item"><img src="https://dummyimage.com/80x80/696969/fff.png&text=Thumb+B+(80+x+80)" alt=""></div>
                  <div class="item"><img src="https://dummyimage.com/80x80/696969/fff.png&text=Thumb+C+(80+x+80)" alt=""></div>
                  <div class="item"><img src="https://dummyimage.com/80x80/696969/fff.png&text=Thumb+D+(80+x+80)" alt=""></div>'
                }}
              </div>

            </div>
          </div>
        </div>
      </div>
    </main>
    {{> footer}}
    {{> footer-scripts }}
    <!--build:js js/carousels.js -->
    <script src='js/plugins/owl.carousel.js'></script>
    <script src='js/carousels.js'></script>
    <script src='js/gallery.js'></script>
    <script src='js/main.js'></script>
    <!-- endbuild -->
  </body>
</html>
