<!DOCTYPE html>
  <head>
    {{> head-metatags }}
    <title>Front-End Dev Conference</title>
    {{> head-scripts }}
  </head>
  <body>
    <main class="main">
      <div class="container">
        <div class="row">
          <div class="col-xs-24">
            <h1>Carrosséis</h1>
            <hr>
            <h2>Fullbanner</h2>
          </div>
          <div class="col-xs-24 col-sm-12">
            {{> org-gallery thumbs="true"}}
          </div>
          <div class="col-xs-24 col-sm-12">
            {{> org-gallery nav="true" thumbs="true"}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-24 col-sm-12">
            {{> org-gallery nav="false" thumbs="true" zoom="true" zoom-cursor="crosshair"}}
          </div>
          <div class="col-xs-24 col-sm-12">
            {{> org-gallery }}
          </div>
          <div class="col-xs-24 col-sm-12">
            {{> org-gallery
              nav="false"
              thumbs="true"
              zoom="true"
              zoom-cursor="default"
              zoom-position="11"
              zoom-fadein="0"
              zoom-fadeout="0"
              zoom-window-offset="6"
              zoom-scroll-zoom="true"
              zoom-easing="true"
              zoom-lens-color="red"
              zoom-lens-opacity="0.5"
              zoom-border-size="5"
              zoom-border-color="red"
              zoom-lens-border-size="1"
              zoom-tint="true"
              zoom-tint-color="#ebebeb"
              zoom-tint-fadein="true"
              zoom-tint-fadeout="0.2"
              zoom-tint-lenszoom="true"
              zoom-tint-containlenszoom="true"
            }}
          </div>
          <div class="col-xs-24 col-sm-12">
            <div class="zoom-image"
              data-zoom-image="https://dummyimage.com/1600x1000/696969/fff.png&text=Banner+(1600+x+1000)"
              data-zoom-scroll="true">
              <img src="https://dummyimage.com/800x500/696969/fff.png&text=Image+B+(800+x+500)" alt="" class="zoom-image--picture">
            </div>
          </div>
        </div>
      </div>
    </main>
    {{> footer-scripts }}
    <!--build:js js/carousels.js -->
    <script src='js/plugins/owl.carousel.js'></script>
    <script src='js/plugins/jquery.elevatezoom.js'></script>
    <script src='js/zoom.js'></script>
    <script src='js/carousels.js'></script>
    <script src='js/gallery.js'></script>
    <script src='js/main.js'></script>
    <!-- endbuild -->
  </body>
</html>
