<!DOCTYPE html>
  <head>
    <title>Front-End Dev Conference</title>
    {{> head-scripts }}
  </head>
  <body>
    {{> header}}
    <main class="main container">
      <p>teste</p>
    </main>
    {{> footer}}

    {{> footer-scripts }}
    <!--build:js js/main.js -->

    <!-- endbuild -->
  </body>
</html>
