.carousel-fullbanner {

}
.owl-carosel-static {
  width: 100%;
  display: table;
  margin-bottom: 1em;

  .item {
    box-sizing: border-box;
    border: 0;
    position: relative;
    min-height: 1px;
    float: left;
    margin: 0;
    padding: 5px;
    cursor: pointer;
    border: 0;

    img {
      width: 100%;
      height: auto;
      border: 2px solid transparent;
    }
    &:last-child {
      //padding: 10px;
    }
    &.active {
      border: 0;

      img {
        border-color: $life-green;
      }
    }
  }
}
.owl-carousel.owl-arrows {
  position: relative;

  .owl-nav {
    .owl-prev,
    .owl-next {
      position: absolute;
      top: 40%;
      background-color: transparent;
      color: $arrows-icons;
      font-size: 2em;
      @include opacity(0.8);
      @include transition (all 350ms ease-in-out);

      &.disabled {
        &,
        &:hover,
        &:focus {
          @include opacity(0.1);
          cursor: default;
          color: $white;
        }
      }

      &:hover,
      &:focus {
        color: lighten($arrows-icons, 20%);
        @include opacity(0.5);
        @include transition (all 350ms ease-in-out);
      }
    }
    .owl-prev {
      left: 0;
      padding-left: 0.5em;
    }
    .owl-next {
      right: 0;
      left: auto;
      padding-right: 0.5em;
    }
  }
}
