<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-24 col-sm-4">
				<div class="brand-footer"></div>
			</div>
			<div class="col-xs-24 col-sm-20">
				{{> mol-newsletter}}	
			</div>		
		</div>
		<div class="row">
			<div class="col-xs-24 col-sm-20 col-sm-offset-4">
				{{> mol-sitemap}}
			</div>
		</div>

		<div class="row">
			<div class="col-xs-24 col-sm-20 col-sm-offset-4">
				{{> mol-socialmedia-list}}
			</div>
		</div>
	</div>
</footer>
