<!DOCTYPE html>
<head>
	{{> head-metatags title='Front-End Dev Conference'}}
	{{> head-scripts }}
	<link rel="stylesheet" href="/css/prism.css">
</head>
<body>
	<main class="main container">
		<section>
			<article>
				<h1 class="font-titles">Alerts e Progress Bars</h1>
				<div class="row">
					<div class="col-xs-24">
						<!--  -->

<pre><code class="language-css">h1 {
	text-align: center
}</code></pre>

<pre data-src="/wiki/elements/molecules/mol-carousel.html"><code class="language-markup"></code></pre>

					</div>
				</div>
			</article>
		</section>
	</main>
	{{> footer}}
	{{> footer-scripts }}
	<script src='/js/plugins/prism.js'></script>
	<!--build:js js/main.js -->

	<!-- endbuild -->
</body>
</html>
