<!DOCTYPE html>
<head>
	{{> head-metatags title='Front-End Dev Conference'}}
	{{> head-scripts }}
	<link rel="stylesheet" href="/css/prism.css">
</head>
<body>
	<main class="main container">
		<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="navbar">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="#">Carrossel</a></li>
		        <li><a href="#">Galerias</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<div class="row">
			<div class="col-xs-24">
			  <h1>Carrosséis</h1>
			</div>
			<div class="col-xs-24 col-md-5">
			  <ul class="nav nav-pills nav-stacked">
			    <li><a href="#">Carrossel Full</a></li>
					<li><a href="#">Carrossel Full</a></li>
					<li><a href="#">Carrossel Full</a></li>
					<li><a href="#">Carrossel Full</a></li>
					<li><a href="#">Carrossel Full</a></li>
					<li><a href="#">Carrossel Full</a></li>
					<li><a href="#">Carrossel Full</a></li>
					<li><a href="#">Carrossel Full</a></li>
			  </ul>
			</div>
			<div class="col-xs-24 col-md-19">
				<div class="panel panel-default">
				  <div class="panel-body">
						<h2>Carrossel padrão</h2>
						<p>O carrossel padrão utiliza o <strong>Owl Carousel 2</strong>. Fizemos diversas personalizações no código para aceitar a configuração via <code>data-attribute</code>.</p>
						<p>Abaixo segue o código padrão e o layout que ele como default. Esse layout pode ser personalizado através de SCSS.</p>
						{{> mol-carousel
							nav-text='<button class="btn btn-default">pega</button>, <span>puxa</span>'
							content='<div class="item"><img src="https://dummyimage.com/1200x400/696969/fff.png&text=Banner+(1200+x+400)" alt=""></div>
							<div class="item"><img src="https://dummyimage.com/1200x400/696969/fff.png&text=Banner+(1200+x+400)" alt=""></div>
							<div class="item"><img src="https://dummyimage.com/1200x400/696969/fff.png&text=Banner+(1200+x+400)" alt=""></div>
							<div class="item"><img src="https://dummyimage.com/1200x400/696969/fff.png&text=Banner+(1200+x+400)" alt=""></div>
							<div class="item"><img src="https://dummyimage.com/1200x400/696969/fff.png&text=Banner+(1200+x+400)" alt=""></div>
							<div class="item"><img src="https://dummyimage.com/1200x400/696969/fff.png&text=Banner+(1200+x+400)" alt=""></div>'}}
						<h3>Código HTML</h3>
						<pre data-src="/wiki/elements/molecules/mol-carousel.html"><code class="language-markup"></code></pre>
						<h3>Handlebars</h3>
						<pre data-src="/wiki/elements/molecules/mol-carousel.txt"><code class="language-js"></code></pre>
						<h3>Configuração padrão</h3>
						<p>A configuração padrão do Owl Carousel feita no arquivo <code>carousels.js</code> segue abaixo:</p>
						<pre><code class="language-js">{
  loop: false,
  margin: 10,
  nav: true,
  dots: true,
  responsive: 1,
  autoWidth: false,
  navText: [
		&#39;&lt;div class=&quot;icon icon-chevron-left&quot;&gt;&lt;/div&gt;&#39;,
		&#39;&lt;div class=&quot;icon icon-chevron-right&quot;&gt;&lt;/div&gt;&#39;
	]
}</code></pre>
				  </div>
				</div>
			</div>
		</div>
	</main>

	{{> footer-scripts }}
	<script src='/js/plugins/prism.js'></script>
	<!--build:js js/carousels.js -->
	<script src='/js/plugins/owl.carousel.js'></script>
	<script src='/js/plugins/jquery.elevatezoom.js'></script>
	<script src='/js/zoom.js'></script>
	<script src='/js/carousels.js'></script>
	<script src='/js/gallery.js'></script>
	<script src='/js/main.js'></script>
	<!-- endbuild -->
</body>
</html>
