<!DOCTYPE html>
<head>	
	{{> head-metatags title='Front-End Dev Conference'}}
	{{> head-scripts }}
</head>
<body>
	{{> mol-bs-jumbotron title='Documentação do novo Ecom' description='Esta documentação já está utilizando Gulp e Handlebars' }}
	<main class="main container">		
		<section>
			<article>
				<h1 class="font-titles">Input groups</h1>
				<div class="row">
					<div class="col-xs-24 col-sm-12">						
						<div class="form-group">
							{{>mol-bs-input-group-addon id='TelefoneComercial' type='text' addon='Telefone' size='lg' }}
						</div>

						<div class="form-group">
							{{>mol-bs-input-group-addon id='TelefoneCelular' type='text' addon='Celular' }}
						</div>

						<div class="form-group">
							{{>mol-bs-input-group-addon id='TelefoneResidencial' type='text' addon='Telefone Residencial' size='sm' }}
						</div>

						<div class="form-group">
							{{>mol-bs-input-group-addon-right id='email' type='email' addon='@gmail.com' }}
						</div>

						<div class="form-group">
							{{>mol-bs-input-group-double-addon id='number' type='number' addon='$' addon2='.00'}}
						</div>
						
					</div>
					<div class="col-xs-24 col-sm-12">
						<div class="form-group">
							{{>mol-bs-input-group-addon-select id='text' type='number' addon='$' type-addon='radio'}}
						</div>

						<div class="form-group">
							{{>mol-bs-input-group-addon-select id='text' type='number' addon='$' type-addon='checkbox'}}
						</div>

						<div class="form-group">
							{{>mol-bs-input-group-addon-dropdown status='info' button='Ação' type='text'}}
						</div>

						<div class="form-group">
							{{>mol-bs-input-group-addon-dropdown-right status='success' button='Ação' type='text'}}
						</div>						
					</div>
				</div>
			</article>
		</section>
	</main>
	{{> footer}}

	{{> footer-scripts }}
	<!--build:js js/main.js -->

	<!-- endbuild -->
</body>
</html>
