<!DOCTYPE html>
<head>	
	{{> head-metatags title='Front-End Dev Conference'}}
	{{> head-scripts }}
</head>
<body>
	{{> mol-bs-jumbotron title='Documentação do novo Ecom' description='Esta documentação já está utilizando Gulp e Handlebars' }}
	<main class="main container">		
		<section>
			<article>
				<h1 class="font-titles">Media object</h1>
				<div class="row">
					<div class="col-xs-24 col-sm-12">
						{{> mol-bs-media-object src='/images/thumb-mountain.jpg' alt='...' title='Headling' content='Lorem ipsum dolor sit amet, consectetur adipisicing elit'}}

						{{> mol-bs-media-object src='/images/thumb-mountain.jpg' alt='...' title='Headling' content='Lorem ipsum dolor sit amet, consectetur adipisicing elit'}}

						{{> mol-bs-media-object src='/images/thumb-mountain.jpg' alt='...' title='Headling' content='Lorem ipsum dolor sit amet, consectetur adipisicing elit'}}
					</div>

					<div class="col-xs-24 col-sm-12">
						{{> mol-bs-media-object src='/images/thumb-mountain.jpg' alt='...' title='Headling' content='Lorem ipsum dolor sit amet, consectetur adipisicing elit'}}

						{{> mol-bs-media-object src='/images/thumb-mountain.jpg' alt='...' title='Headling' content='Lorem ipsum dolor sit amet, consectetur adipisicing elit'}}

						{{> mol-bs-media-object src='/images/thumb-mountain.jpg' alt='...' title='Headling' content='Lorem ipsum dolor sit amet, consectetur adipisicing elit'}}
					</div>
				</div>
			</article>


		</section>
	</main>
	{{> footer}}

	{{> footer-scripts }}
	<!--build:js js/main.js -->

	<!-- endbuild -->
</body>
</html>
