<!DOCTYPE html>
<head>	
	{{> head-metatags title='Front-End Dev Conference'}}
	{{> head-scripts }}
</head>
<body>
	{{> mol-bs-jumbotron title='Documentação do novo Ecom' description='Esta documentação já está utilizando Gulp e Handlebars' }}
	<main class="main container">		
		<section>
			<article>				
				<div class="row">
					<div class="col-xs-24">
						{{>mol-bs-page-header}}
					</div>
				</div>
			</article>
		</section>
	</main>
	{{> footer}}

	{{> footer-scripts }}
	<!--build:js js/main.js -->

	<!-- endbuild -->
</body>
</html>
