<!DOCTYPE html>
<head>	
	{{> head-metatags title='Front-End Dev Conference'}}
	{{> head-scripts }}
</head>
<body>
	{{> mol-bs-jumbotron title='Documentação do novo Ecom' description='Esta documentação já está utilizando Gulp e Handlebars' }}
	<main class="main container">
		<section>	

			<article>
				<h1 class="font-titles">Tabs e Responsive Embeds</h1>
				<div class="row">
					<div class="col-xs-24 col-sm-12">
						{{> mol-bs-tabs}}
					</div>

					<div class="col-xs-24 col-sm-12">
						{{> mol-bs-responsive-embed width='100%' height='500' src='https://www.youtube.com/embed/QbtPmwL18uA'}}
					</div>
				</div>
			</article>			

		</section>
	</main>
	{{> footer}}

	{{> footer-scripts }}
	<!--build:js js/main.js -->

	<!-- endbuild -->
</body>
</html>
