.gallery {
  &--controls {
    .item {
      border: 2px solid transparent;
      cursor: pointer;

      &.active {
        border-color: $life-green;
      }
    }
    .owl-nav {
      margin: 0;

      > div {
        position: absolute;
        top: 40%;
      }
      .owl-prev {
        left: 0;
      }
      .owl-next {
        right: 0;
      }
    }
    .owl-carousel.gallery-nav {
      padding: 0 35px;

      .disabled {
        &,
        &:hover,
        &:focus {
          background-color: $light-gray;
          opacity: 0.2;
        }
      }
    }
  }
}
