<h1>{{section}}</h1>	
<div class="row-flex">
	<div class="item-flex">
		{{>mol-box-prod title='Compact NG160' description='MCCB with adjustable settings, rated for 100 to 630 A, ideal for applications in small to medium sized buildings'}}						
	</div>
	<div class="item-flex">
		{{>mol-box-prod title='PowerPact Multistandard' description='Multistandard molded case circuit breakers from 15 to 600 A'}}						
	</div>
	<div class="item-flex">
		{{>mol-box-prod title='Ecoreach' description='Multistandard molded case circuit breakers from 15 to 125 A'}}						
	</div>
	<div class="item-flex">
		{{>mol-box-prod title='EasyPact CVS' description='Digital management of electrical distribution'}}		
	</div>
</div> 