<h1>{{section}}</h1>	
<div class="row">
	<div class="col-xs-24 col-sm-12 col-lg-6">
		{{>mol-box-prod title='Compact NG160' description='MCCB with adjustable settings, rated for 100 to 630 A, ideal for applications in small to medium sized buildings' old-price='R$ 1200,00' new-price='R$ 900,00'}}					
	</div>
	<div class="col-xs-24 col-sm-12 col-lg-6">
		{{>mol-box-prod title='PowerPact Multistandard' description='Multistandard molded case circuit breakers from 15 to 600 A' old-price='R$ 900,00' new-price='R$ 800,00'}}
	</div>
	<div class="col-xs-24 col-sm-12 col-lg-6">
		{{>mol-box-prod title='Ecoreach' description='Multistandard molded case circuit breakers from 15 to 125 A' old-price='R$ 800,00' new-price='R$ 700,00'}}
	</div>
	<div class="col-xs-24 col-sm-12 col-lg-6">
		{{>mol-box-prod title='EasyPact CVS' description='Digital management of electrical distribution' old-price='R$ 1500,00' new-price='R$ 1200,00'}}
	</div>
</div> 