.btn-transparent{
	background-color: transparent;
	border: none;
	color: $white;

	&:hover, &:focus{
		background-color: inherit;
		border: inherit;
	}
}

.btn-cart{
	background-color: lighten($logo-green, 9.5%);
	color: $white;
	border: none;
    padding-top: 16px;
    padding-bottom: 17px;
    margin-top: -9px;
    margin-bottom: -9px;
    margin-right: -32px;

    &:hover, &:focus{
		background-color: lighten($logo-green, 5.5%);;
		color: $white;
	}
}

.newsletter{
	border-bottom: 1px solid $light-gray;
}
