html {
  font-size: 100.01%;
}
body {
  font-size: 0.8125em;
  line-height: 1.5em;
  font-family: $font-default;
  color: #333;
  font-weight: 100;
}
p {
  font-size: 1em;
}

//framewor extends
.font-main-nav {
  font-size: 14px;
  font-family: $font-default;
  font-weight: normal;
  color: $white;
  text-transform: uppercase;
}
.font-banner-titles {
  font-size: 33px;
  font-family: $font-default;
  font-weight: normal;
  color: $logo-green;
  line-height: 36px;
}
.font-titles {
  font-size: 40px;
  font-family: $font-default;
  font-weight: 100;
  color: $logo-green;
  line-height: 60px;
}
.font-titles-paragraph {
  font-size: 24px;
  font-family: $font-default;
  font-weight: normal;
  color: $dark-gray;
  line-height: 28px;
}
.font-body-copy {
  font-size: 16px;
  font-family: $font-default;
  font-weight: normal;
  color: $dark-gray;
  line-height: 20px;
}
.font-link-list {
  font-size: 16px;
  font-family: $font-default;
  font-weight: normal;
  color: $sky-blue;
  line-height: 20px;
}
.font-cta {
  font-size: 18px;
  font-family: $font-default;
  font-weight: bold;
  color: $white;
  line-height: 24px;
}
