.icons-box {
	.infont{
		 a {
		 	padding: 10px;
		    margin: 1px;
		    display: block;
		    color: $dark-gray;

		 	i{
		 		font-size: 25px;
			    display: block;
			    color: inherit;
		 	}

		 	&:hover, &:focus{
		 		text-decoration: none;
		 		color: $logo-green;
		 	}
		 }
	}
}