.navbar-custom{
	@include border-radius(0px);
	background-color: $life-green;
	text-transform: uppercase;
	min-height: 55px;

	.navbar-nav{

		>li{
			>a{
				color: $white;
				padding-top: 17px;
				padding-bottom: 17px;
			}
		}

		>.active{
			>a, 
			>a:hover,
			>a:focus{
				background-color: $logo-green;
				color: $white;
			}
		}
	}

	.navbar-brand{
		color: $white;
		&:hover, &:focus{
			color: $white;
		}
	}
}