//Colors manual

//Primary Colors
$life-green:   #3DCD58;
$logo-green:   #009530;
$dark-gray:    #626469; //rgba(0,0,0,0.8)
$white:       #ffffff;

//Secondary Colors
$sky-blue:     #42B4E6;
$medium-gray:   #86949C;
$light-gray:     #9FA0A4; //rgba(0,0,0,0.5)
$background-gray:   #eaeaea;

//Informational Colors
$honeysuckle-orange: #E47F00;
$fuchsia-red: #B10043;
$sunflower-yellow: #FFD100;

//Fonts
$font-default: "Arial Rounded", "Lucida Grande", Lucida, "Lucida Sans Unicode", sans-serif;

//Functional colors
$arrows-icons: $life-green;
