<div class="navbar main-menu navbar-inverse">
	<ul class="nav nav-justified">
		<li>
			<a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
				Veja todos os segmentos <br> <span class="glyphicon glyphicon-chevron-down"></span>
			</a>
			<ul class="dropdown-menu" aria-labelledby="dLabel">
				<li>Teste</li>
			</ul>
		</li>
		<li><a href="#">Interface Homem/Máquina <br> <span class="glyphicon glyphicon-chevron-down"></span>	</a></li>
		<li><a href="#">Inversor de Frequência <br> <span class="glyphicon glyphicon-chevron-down"></span>	</a></li>
		<li><a href="#">Controle e Sinalização <br> <span class="glyphicon glyphicon-chevron-down"></span>	</a></li>
		<li><a href="#">Controlador Lógico Programável <br> <span class="glyphicon glyphicon-chevron-down"></span>	</a></li>
		<li><a href="#">Dispositivos de Proteção Easy9 <br> <span class="glyphicon glyphicon-chevron-down"></span>	</a></li>
		<li><a href="#">Contatores Easy <br> <span class="glyphicon glyphicon-chevron-down"></span>	</a></li>
		<li><a href="#">Suporte <br> <span class="glyphicon glyphicon-chevron-down"></span>	</a></li>
	</ul>
</div>