<p>
    Para criar uma <code>label</code>, basta chamar o atom <code>atom-bs-label</code> e setar o <code>status</code> e o <code>content</code>.
</p>
<p>{{> atom-bs-label status='primary' content='Primary'}}</p>
<p>{{> atom-bs-label status='info' content='Information'}}</p>
<p>{{> atom-bs-label status='success' content='Success'}}</p>
<p>{{> atom-bs-label status='warning' content='Warning'}}</p>
<p>{{> atom-bs-label status='danger' content='Danger'}}</p>