<p>
    Para criar uma <code>badge</code>, basta chamar o atom <code>atom-bs-badge</code> e setar o <code>status</code> e o <code>content</code>.
</p>
<p>{{> atom-bs-badge status='primary' content='Primary'}}</p>
<p>{{> atom-bs-badge status='info' content='Information'}}</p>
<p>{{> atom-bs-badge status='success' content='Success'}}</p>
<p>{{> atom-bs-badge status='warning' content='Warning'}}</p>
<p>{{> atom-bs-badge status='danger' content='Danger'}}</p>
