<div class="sitemap">
	<div class="row">
		<div class="col-xs-24 col-sm-5">
			<p><strong class="text-uppercase">Empresas e carreiras</strong></p>
			<ul>
				<li><a href="#">Sobre nós</a></li>
				<li><a href="#">Sustentabilidade</a></li>
				<li><a href="#">Carreira</a></li>
				<li><a href="#">Imprensa</a></li>
			</ul>		
		</div>
		<div class="col-xs-24 col-sm-6">
			<p><strong class="text-uppercase">Links rápidos</strong></p>
			<ul>
				<li><a href="#">Life is on</a></li>
				<li><a href="#">Internet das coisas</a></li>
				<li><a href="#">Perguntas frequentes (FAQ)</a></li>
				<li><a href="#">Energy University</a></li>
				<li><a href="#">My Schneider</a></li>
				<li><a href="#">APC</a></li>
				<li><a href="#">Pelco</a></li>
			</ul>		
		</div>
		<div class="col-xs-24 col-sm-6">
			<p><strong class="text-uppercase">Fale conosco</strong></p>
			<ul>
				<li><a href="#">Suporte técnico</a></li>
				<li><a href="#">Aplicativo MySchneider</a></li>
				<li><a href="#">Fale conosco</a></li>
			</ul>		
		</div>	
	</div>
</div>