<ul class="nav nav-{{nav}}">
  <li role="presentation" class="{{status}}"><a href="{{href}}">{{item}}</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>