<ul class="list-group">
    <li class="list-group-item">
        <span class="badge badge-primary">16</span>
        But I must explain to
    </li>
    <li class="list-group-item ">
        <span class="badge badge-info">12</span>
        How all this mistaken
    </li>
    <li class="list-group-item">
        <span class="badge badge-danger">10</span>
        But because occasionally
    </li>
    <li class="list-group-item">
        <span class="badge badge-success">10</span>
        But who has any right
    </li>
    <li class="list-group-item">
        <span class="badge badge-warning">7</span>
        On the other hand
    </li>
</ul>