<div class="newsletter text-right">
	<form method="post" action="/" class="form-group form-inline">
		<label>Receba nossas notícias</label>
		<div class="input-group">
			<input type="email" name="email" class="form-control" placeholder="E-mail">
		</div>
		<div class="input-group">
			<button class="btn btn-info text-uppercase" type="submit">Ok</button>
		</div>
	</form>
</div>